

<form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
  <input type="hidden"  formControlName="id" id="id">
  <div class="form-group">
    <label>Code Catégorie </label>
    <select class="form-control" formControlName="code_categ"  id="code_categ"
>      <option value="0">-Select-</option>
      <option *ngFor="let item of CategorieList" value="{{item.code}}">{{item.libelle}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Code Barre </label>
    <input type="text" class="form-control" formControlName="code_b" id="code_b"   >
  </div>
  <div class="form-group">
    <label>Libelle </label>
    <input type="text" class="form-control" formControlName="libelle" id="libelle">
  </div>
  <div class="form-group">
    <label>Prix Achat  </label>
    <input type="text" class="form-control" formControlName="pa" id="pa">
  </div>
  <div class="form-group">
    <label>Prix Vente  </label>
    <input type="text" class="form-control" formControlName="pv" id="pv">
  </div>
  <div class="form-group">
    <label>Stock Init  </label>
    <input type="text" class="form-control" formControlName="stkinit" id="stkinit">
  </div>

  <div class="form-group">
    <label>File Upload  </label>
    <input type="file" accept="image/*" (change)="onSelectFile($event)">
    <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <a class="btn btn-outline-success" routerLink="/articles"><i class="fa fa-plus-square"></i> Liste</a>
  </div>
</form>

