

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img src="assets/images/logo.png">
          </a>
          <!-- ***** Logo End ***** -->
          <ul class="nav">
            <li><a routerLink="/larticle">Create article</a>
            <li><a routerLink="/register">Create account</a></li>
            <li><a routerLink="/lcomms">Panier</a></li>
          </ul>
          <!-- ***** Menu Start ***** -->
          <ul class="nav" *ngFor="let item of crudApi.listData ">
            <li class="scroll-to-section"><a href="#{{item.libelle}}">{{item.libelle}} </a></li>


          </ul>


          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
<br>
<br><br><br>
 <div class="pricing-header mx-auto">
   <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
    <thead>
    <tr>
    <th scope="col">Code</th>
    <th scope="col">Libelle </th>
    <th scope="col">Prix Achat</th>
    <th scope="col">Prix Vente </th>
    <th scope="col">TVa </th>
    <th scope="col">Fodec </th>
    <th scope="col">Image </th>
    <th>
        <a class="btn btn-outline-success" routerLink="/article"><i class="fa fa-plus-square"></i> Create New</a>
    </th>
    </tr>
    </thead>
    <tbody>


    <tr *ngFor="let item of crudApi.listData ">
    <th class ="hidden">{{item.id}}</th>
    <td>{{item.code}}</td>
    <td>{{item.libelle}}</td>
    <td>{{item.pa}}</td>
    <td>{{item.pv}}</td>
    <td>{{item.tva}}</td>
    <td>{{item.fodec}}</td>
    <td><a href="#"><img class="card-img-top img-responsive"
      src = "{{this.crudApi.host+'/api/Imgarticles/'+item.id}}"
      style = "height :200px;width:fil-content"
     alt=""></a></td>

    <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectData(item)">
      <i class="fa fa-pencil-square-o" ></i></button></td>
   <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
      <i class="fa fa-trash-o"></i></button></td>

       </tr>
    <a href="">   <button type="button" class="btn btn-outline-dark ml-1"><i class="fa fa-close" ></i> Close</button></a>

    </tbody>
         </table>
         </div>
       </div>



